{% extends "layout.njk" %}

{% block content %}

<a href="/">HOME</a>

<div class="jquery">

</div>

<p>
  DASHBOARD
</p>

<p>
  User ID: {{id}}
</p>

<p>
  Username: {{username}}
</p>

{% endblock %}
