{% extends "layout.njk" %}

{% block content %}

<a href="/auth/login">LOGIN</a><br />
<a href="/auth/register">REGISTER</a>

<p>
  WORK ROUTES:
</p>

<p>
  <a href="moma/works">GET WORKS</a>
</p>

<form class="" action="moma/works" method="post">
  <label for="work">Post Work: </label><br>
  <input type="text" id="work" name="title" value="" placeholder="work"><br>
  <input type="submit" value="Submit">
</form>

<form class="" action="moma/work/id?_method=PUT" method="post">
  <label for="workId">Update Work Title By Work ID: </label><br>
  <input type="text" id="workId" name="id" value="" placeholder="work id"><br>
  <input type="text" name="title" value="" placeholder="new title">
  <input type="submit" value="Submit">
</form>
<br>

<form class="" action="moma/work/id?_method=PUT" method="post">
  <label for="workId">UPDATE WORK TITLE BY <strong>AUTHOR ID</strong>: </label><br>
  <input type="text" id="workId" name="id" value="" placeholder="work id"><br>
  <input type="text" name="title" value="" placeholder="new title">
  <input type="submit" value="Submit">
</form>
<br>

<form class="" action="moma/works/id?_method=DELETE" method="post">
  <label for="workId">Delete Work By Work ID: </label><br>
  <input type="text" id="workId" name="id" value="" placeholder="work id"><br>
  <input type="submit" value="Submit">
</form>
<br><br>
ARTIST ROUTES:

<p>
  <a href="moma/artists">GET ARTISTS</a>
</p>

<form class="" action="moma/artists" method="post">
  <label for="artist">Post Artist: </label><br>
  <input type="text" id="artist" name="name" value="" placeholder="artist"><br>
  <input type="submit" value="Submit">
</form>

<form class="" action="moma/artist/id?_method=PUT" method="post">
  <label for="artistId">Update Artist Name By Artist ID: </label><br>
  <input type="text" id="artistId" name="id" value="" placeholder="artist id"><br>
  <input type="text" name="name" value="" placeholder="new name">
  <input type="submit" value="Submit">
</form>
<br>

<form class="" action="moma/artist/id?_method=PUT" method="post">
  <label for="artistId">UPDATE AUTHOR NAME BY <strong>WORK ID</strong>: </label><br>
  <input type="text" id="artistId" name="id" value="" placeholder="artist id"><br>
  <input type="text" name="name" value="" placeholder="new name">
  <input type="submit" value="Submit">
</form>
<br>

<form class="" action="moma/artists/id?_method=DELETE" method="post">
  <label for="artistId">Delete Artist By Artist ID: </label><br>
  <input type="text" id="artistId" name="id" value="" placeholder="artist id"><br>
  <input type="submit" value="Submit">
</form>
<br><br>

{% endblock %}
